$right-blue: #38aef0;
$nav-bg-color: #253141;
$groups-bg-color: #2f3e51;
$group-color:#333333;
$group-member-color:#999999;
$timestamp-color:#999999;
$username-color:#434A54;
$usertext-color:#434A54;
$border-color:#eeeeee;
$main-bg-color:#fafafa;
$form-bg-color:#ddd;